*{
    padding: 0;
    margin: 0;
    box-sizing: 0;
}

body{
    background: rgb(228,209,135);
    background: linear-gradient(78deg, rgba(228,209,135,1) 44%, rgba(218,171,102,0.9766423357664233) 52%);
    width: 100vw;
    height: 100vh;
    font-family: 'Segoe UI', -apple-system, BlinkMacSystemFont,  Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    text-align: center;
    
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}
h2{
    font-size: 3rem;
    font-weight: 900;
    
}
button{
    color: white;
    background-color: rgb(166, 26, 26);
    padding:0.7rem 4.5rem;
    width: 220px;
    font-weight: 700;
    border: 0;
    border-radius: 5px;
    margin-bottom: 25px;
}
button:active{
   transform:scale(0.98);
   box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
   border: 2px solid blue;
   
}
.save{
    background-color: green;
    margin-bottom: 35px;
}
.content{
    display: flex;
    flex-direction: column;
    border: 2px solid black;
    align-items: center;
    padding: 2rem;
    border-radius: 20px;
    height: 50vh;
}
#reset{
    align-self: flex-end;
    padding: 0;
    width: auto;
    color: black;
    background-color: transparent;
    font-size: 3rem;
}

@media (max-width: 450px) {
    h2{
        font-size: 2rem;
    }
}